#players
	background-color orange

.player
	width 400px
	height 100px
	background-color blue
	position absolute

#player1
	top 200px
	left 300px
#player2
	left 300px
#player3
	top 500px
#player4
	top 500px
	left 800px

.picture
	width 50px
	height 50px
	background-color red

.hand
	width 150px
	height 80px
	background-color green

.card
	width 10px
	height 20px
	background-color black