<html ng-app="gameApp">
  <head>
  <title>Truco Of Thrones - Room #1</title>
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <head>
  <body ng-controller="GameController">

  <div id="players">
    <div id="player{{player.id}}" class="player"  ng-repeat="player in players">
      <div class="picture"></div>
      <div class="hand" >
        <div class="card" ng-repeat="card in cards">
          card family: {{card.family}} value: {{card.value}}
        </div>    
      </div>
    </div>
  </div>

<!--
    <br><br>
    <div class="score" ng-controller="ScoreController">
      Team North: {{scoreTeam0}} <br>
      Team South: {{scoreTeam1}} 
    </div>

    <div id="message-wait" style="background-color:red;">
      Wait for other player move
    </div>
    <div id="message-play" style="background-color:green;">
      Your turn, play!
    </div>

    <div id="table">
      <div class="card" data-card="0"></div>
      <div class="card" data-card="1"></div>
      <div class="card" data-card="2"></div>
      <div class="card" data-card="4"></div>
    </div>
-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/public/js/game.js"></script>
  <script>
    var socket = io();
    return false;
    function play(card){
      alert($(card).attr("data-family"));
    }
    function mePlay(){
      $("#message-wait").hide();
      $("#message-play").show();
    }

    function waitForOtherPlayerToPlay(){
      $("#message-play").hide();
      $("#message-wait").show();
    }

    var mePlayer = 0;
    function playerPlay(response){
      if(response.playerToPlay === mePlayer){
        mePlay();
      }else{
        waitForOtherPlayerToPlay();
      }
    }

    function startGame(){
      var game = {
        "teams": [{
          "id": 0,
          "players": [{
            "id": 0
          },{
            "id": 1
          }]
        },{
          "id": 1,
           "players": [{
            "id": 2
          },{
            "id": 3
          }]
        }]
      };

      socket.emit("START_GAME", game);
    }

    socket.on('START_GAME_RESPONSE', function(msg){
      alert(msg);
    });

    socket.on('PLAY_RESPONSE', function(response){
      alert(response.whatToDo);
      switch(response.whatToDo){
        case "PLAYER_PLAY":
          playerPlay(response);
          break;
      }
    });



    var gameApp = angular.module('gameApp', []);

    gameApp.controller('MePlayerController', function ($scope) {
      
      $scope.cards = [
        {"family": 2, "value": 6, "status": 0},
        {"family": 0, "value": 8, "status": 0},
        {"family": 3, "value": 2, "status": 0}
      ];

    });

    gameApp.controller('OtherPlayerController', function ($scope) {
      
      $scope.cards = [
        {"family": 1, "value": 4, "status": 0},
        {"family": 2, "value": 1, "status": 0},
        {"family": 2, "value": 8, "status": 0}
      ];

    });

    gameApp.controller('ScoreController', function ($scope) {
      
      $scope.scoreTeam0 = 2;
      $scope.scoreTeam1 = 4;
    });
  </script>
</html>