<% include ../header %>

<div style="width: 100%; height: 500px; position: relative;" ng-controller="GameController">

  <div class="player" data-chair="{{$index}}" ng-repeat="player in players" organize-player-position>
    <div class="accountPicture">
      <div class="accountName">{{player.name}}</div>
    </div>
    <div class="cards" ng-repeat="card in player.cards">
      <div class="card" ng-click="moveCard($event)" data-card-id="{{$index}}">{{card.value}}/{{card.family}}</div>
    </div>
  </div>

  <div class="table">
    <div class="cards">
      <div id="card1" class="card"></div>
      <div id="card2" class="card"></div>
    </div>
  </div>
  

  <div id="score">
    <div class="header">
      <div class="name">Score</div>
      <div class="partial">Partial</div>
      <div class="total">Total</div>
    </div>
    <div class="team" ng-repeat="team in score">
      <div class="name">{{index}}</div>
      <div class="partial">{{team.partial}}</div>
      <div class="total">{{team.total}}</div>
    </div>
  </div>

  <div id="status">
    <div class="status waiting">Waiting for player Jessé</div>
    <div class="status move">
      Your move now, choose a card
      <!--<a>Request "Blood and Thunder!" (round for 3 points)</a>-->
    </div>
    <div id="replyChallenge" class="status">
      <a>Run from battle! (loses 1 point)</a>
      <a>Accept challenge (round for 3 points)</a>
      <a>Request "White Whale!" (round for 6 points)</a>
    </div>
    <div id="replyChallenge2" class="status">
      <a>Run from battle! (loses 3 points)</a>
      <a>Accept challenge (round for 6 points)</a>
    </div>
    <div id="timer" class="status">0:15</div>
  </div>

  <div id="message" style="display: none;">
    <div id="endgame">
      Hail for the Rebels!!

      Rebel kingdoms won 5 points
      Imperials lost 1 point
    </div>
    <div id="desistence">
      Player <b>Jessé</b> runned away to his mommy,
      and the game ended.

      Jessé loses 10 points
      Team Rebels win 2 points
    </div>
  </div>

  <link rel="stylesheet" href="/css/game.css">
  <script src="/javascripts/game.js"></script>
  <script>
    var me = "0";

    
  </script>
</div>