.player{
  float:left;

  width: 150px;
  background-color:yellow;

  position:absolute;
  left: 50%;
}

.accountPicture{
  width:50px;
  height:50px;
  float:left;
  position:relative;

  background-color:blue;
}

.accountName{
  width:100%;
  height: 20px;
  position:absolute;
  bottom:0;

  background-color: red;
}

.card{
  width: 30px;
  height:90px;
  float:left;

  background-color:black;
  outline: 1px solid red;
}



#score{
  position: absolute;
  top: 0;
  right: 0;

  width: 300px;

  background-color: green;
}

.team, .header{
  width: 100%;
  height:20px;

  float:left;

  outline: 1px solid black;
}

.name{
  width:60%;
  float:left;
}

.partial{
  width: 20%;
  float:left;
}


.table{
  width: 200px;
  height:200px;

  position: absolute;
  top: 25%;
  left: 50%;

  background-color: orange;
}

.table .card{
  float: none;
}

#status{
  position:absolute;
  right: 0;
  bottom: 0;


  width: 200px;
  height: 200px;

  background-color: black;
}

#message{
  width: 200px;
  height: 100px;

  position: absolute;
  top: 50%;
  left: 50%;

  background-color: brown;
}