<% include ../header %>
<link href="css/room.css" rel="stylesheet">
<div ng-controller="RoomCtrl">
  <table id="score" class="table table-bordereds">
    <tr>
      <th>Team</th>
      <th>Partial</th>
      <th>Total</th>
    </tr>
    <tr>
      <td>Team North</td>
      <td>0</td>
      <td>{{score.player1.total}}</td>
    </tr>
    <tr>
      <td>Team South</td>
      <td>0</td>
      <td>{{score.player2.total}}</td>
    </tr>
  </table>
  <div id="player-2">
    <div id="player-2-card-1" class="card"></div>
    <div id="player-2-card-2" class="card"></div>
    <div id="player-3-card-3" class="card"></div>
  </div>
  <div id="table">
    <div id="table-card-1" class="card"></div>
    <div id="table-card-2" class="card"></div>
    <div id="table-card-3" class="card"></div>
    <div id="table-card-4" class="card"></div>
  </div>
  <p id="message" class="bg-primary">...</p>
  <div id="player">
    <div id="player-card-1" class="card" ng-click="playCard(0);"></div>
    <div id="player-card-2" class="card" ng-click="playCard(1);"></div>
    <div id="player-card-3" class="card" ng-click="playCard(2);"></div>
  </div>
</div>

<script src="js/room.js"></script>