<div class="rooms row" ng-controller="RoomsCtrl" >
  <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="room in rooms">
    <div class="room panel panel-default">
      <div class="player" ng-repeat="player in room.players">
        {{player}}
      </div>
      <div class="" ng-switch="room.status">
        <button ng-switch-when="open" type="button" class="btn btn-primary btn-block" ng-click="joinRoom(room.roomId);">Join</button>
        <button ng-switch-when="locked" type="button" class="btn btn-default" ng-click="joinRoom(room.roomId);" disabled="disabled">Full room</button>
        <button ng-switch-when="joined" type="button" class="btn btn-danger btn-" ng-click="leaveRoom(room.roomId);">Leave</button>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="/css/rooms.css" />
<script src="/javascripts/lib/jquery.js"></script>
<script src="/javascripts/lib/angular.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/rooms.js"></script>