<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<body>
		
		Who's in this room:

		<div id="players">

      <div class="chair" data-player-chair="0">-- empty --</div>
      <div class="chair" data-player-chair="1">-- empty --</div>
      <div class="chair" data-player-chair="2">-- empty --</div>
      <div class="chair" data-player-chair="3">-- empty --</div>

		</div>


	<script>
		var socket = io.connect();
    var me = window.prompt("What's your nickname?");

		socket.on('connect', function () {
      socket.emit('room:join', {
				roomId: 1,
				userId: me
			});
    });

		socket.on('room:userJoined', function(response){
      console.log(response);
			var user = response.user;
      var chair = response.chair;

      $(".chair[data-player-chair='" + chair + "']").html(user);
    });

    socket.on('room:userDisconnected', function(response){
      console.log(response);
      var chair = response.chair;

      $(".chair[data-player-chair='" + chair + "']").html("-- empty --");
    });

    socket.on('room:fullRoom', function(){
      alert("OMG room is full already :(");
    });

    


	</script>
</html>