<% include ../header %>

<div class="jumbotron">
  Welcome to the Node Card Game ! You're called <b>Anonymous5594</b> now, but you can register to have a custom name, picture, and to earn points to spend in new powerful cards!
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Register FREE</a></p>
</div>

<% include ../room/rooms %>