<html ng-app="gameApp">
  <head>
    <title>Node Card Game</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"/>
  <head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            NodeCardGame
          </a>
        </div> 
        <div class="nav navbar-nav navbar-right">
          <button type="button" class="btn btn-default navbar-btn">Login</button>
          <button type="button" class="btn btn-primary navbar-btn">Register FREE</button>
        </div>
      </div>
    </nav>