<html>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.21/angular.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
	<body>
		
		Who's in this room:

		<div id="players">

		</div>

	</body>
	<script>
		var socket = io.connect();

		socket.on('connect', function (data) {
      socket.emit('JOIN_ROOM', {
				roomId: 1,
				user: 'Kastrynhhus'
			});
    });

    socket.emit('READ_ROOM', 1);

		

		socket.on('ROOM_RESPONSE', function(response){
      $("#players").html(response);
    });

	</script>
</html>